@mixin input-width($prefix, $division) {
    $form-full-width: 540;

    @for $index from 1 to ($division + 1) {
        .#{$prefix}-#{$index} {
            width: 100% * (($index * 65 + ($index - 1) * 30) / $form-full-width);
        }
    }
}

main.site-main {
    margin-top: 80px;
    padding-left: var(--site-edge-margin);
    padding-right: var(--site-edge-margin);
    background-color: inherit;

    .main-container {
        display: flex;
        position: relative;
        max-width: 1100px;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: $screen-break-point) {
    @include input-width('input-w-lg', 6);
}

@media screen and (max-width: $screen-break-point) {
    $mobile-form-full-width: 346;

    .input-w-sm-s1 {
        width: 100% * 133 / $mobile-form-full-width;
    }
    .input-w-sm-s2 {
        width: 100% * 183 / $mobile-form-full-width;
    }
    .input-w-sm-s3 {
        width: 100% * 158 / $mobile-form-full-width;
    }
    .input-w-sm-full {
        width: 100%;
    }
    main.site-main {
        margin-top: 16px;
    }
}