.poster-container{
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  
}
.poster-wrapper{
  border-bottom: 10px solid darkgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.poster-context{
  flex: 1;
  /* border: 2px solid darkcyan; */
  height: auto;
  text-align: start;
  padding: 15px;
  margin-left: 20px;
  border-bottom: 2px solid darkgray;
  margin-bottom: 10px;
}

.poster-title{
  font-weight: 900;
}

.poster-header{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr ;
  grid-template-rows: 1fr;
  padding: 10px;
  align-items: center;
}

.poster-infoCard{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10px;
}


.poster-picture{
  /* border: 2px solid pink; */
  
}

.feedback-container{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.poster-text {
  font-size: 30px;
}

.menu-tag{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.fa-x{
  margin-left: 10px;
}
.card-image1 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 5px;
}